{% extends 'base.html' %}
{% block title %} The Shuffle - Home {% endblock title %}

{% block page_content %}
<!-- Three -->
<section id="three" class="wrapper align-center">
    <div class="inner">
        <form action="{{ url_for('new_subject') }}" method="post">
            <div class="col-5">
                <input type="text" name="new_subject_name" style="text-align: left;" />
                <input class="far" type="submit" value="New Subject" />
            </div>
        </form>
    </div>
</section>
{% endblock page_content %}