import smtplib
from email.mime.text import MIMEText


class Emailer():
    sender = 'sender@email.com'  # set sender account
    password = 'sender password'  # set sender password

    server = smtplib.SMTP_SSL('smtp.gmail.com', 465)
    server.ehlo()
    server.login(sender, password)

    @classmethod
    def send_certificattion(cls, email, account_id, certification):
        msg = MIMEText(f'The Shuffle certificate link of your account : https://127.0.0.1/certificate/{account_id}/{certification}')  # set web url
        msg['Subject'] = 'The Shuffle account certification'  # set mail subject
        msg['From'] = cls.sender
        msg['To'] = email
        cls.server.send_message(msg)


if __name__ == '__main__':
    Emailer.send_certificattion('receiver@email.com')  # for test
