{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block home_active %} class="active" {% endblock %}

{% block page_content %}
<div id="page">
	<div class="container">
		<div class="row">
			<div class="3u">
				<section id="sidebar1">
					<header>
						<h2>地區</h2>
					</header>
					<!-- list all regions -->
					<div class="list-group">
						{% for region in regions %}
						<button type="button" class="list-group-item" onclick="window.location.href = '{{ url_for('index', region_id=region.id) }}';">{{ region.name }}</button>
						{% endfor %}
					</div>
				</section>
			</div>
			<div class="6u skel-cell-important">
				<section id="content">
					<header>
						<h2>店家</h2>
					</header>
				</section>
			</div>
			<div class="3u">
				<section id="sidebard2">
					<header>
						<h2>結果</h2>
					</header>
				</section>
			</div>
		</div>

	</div>
</div>
{% endblock %}