{% extends 'base.html' %}

{% block title %} Home {% endblock title %}

{% block other_source %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/AnimatedCheckboxes/normalize.css') }}" />
	<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/AnimatedCheckboxes/demo.css') }}" /> -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/AnimatedCheckboxes/component.css') }}" />
	<!-- <script src="{{ url_for('static', filename='js/AnimatedCheckboxes/modernizr.custom.js') }}"></script> -->
{% endblock other_source %}

{% block home_active %} class="active" {% endblock home_active %}

{% block page_content %}
<div id="page">
	<div class="container">
		<div class="row">
			<div class="3u">
				<section id="sidebar1">
					<header>
						<h2>地區</h2>
					</header>
					<!-- first form to select regions -->
					<form class="ac-custom ac-boxfill" autocomplete="off">
						<!-- list all regions -->
						<ul>
						{% for region in regions %}
							<li>
								<input id="{{ 'region_' + (region.id|string) }}" name="selected_region" type="checkbox">
								<label for="{{ 'region_' + (region.id|string) }}">{{ region.name }}</label>
							</li>
						{% endfor %}
						</ul>
					</form>
				</section>
			</div>
			<div class="6u skel-cell-important">
				<section id="content">
					<header>
						<h2>店家</h2>
					</header>
				</section>
			</div>
			<div class="3u">
				<section id="sidebard2">
					<header>
						<h2>結果</h2>
					</header>
				</section>
			</div>
		</div>

	</div>
</div>
{% endblock page_content %}

{% block end_source %}
	<script src="{{ url_for('static', filename='js/AnimatedCheckboxes/svgcheckbx.js') }}"></script>
{% endblock end_source %}