{% extends 'base.html' %}

{% block title %} Home {% endblock title %}

{% block other_source %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/AnimatedCheckboxes/component.css') }}" />
{% endblock other_source %}

{% block home_active %} class="active" {% endblock home_active %}

{% block page_content %}
<script>
	var regions = {{ {'data': regions}|tojson }};
	regions = regions.data;
	var shops = {{ {'data': shops}|tojson }};
	shops = shops.data;
</script>
<div id="page">
	<div class="container">
		<div class="row">
			<div class="3u">
				<section id="sidebar1">
					<header>
						<h2>地區</h2>
					</header>
					<!-- first form to select regions -->
					<form class="ac-custom ac-boxfill" autocomplete="off">
						<!-- list all regions -->
						<ul>
						{% for region in regions %}
							<li id="{{ region.id }}">
								<input id="{{ 'region_' + (region.id|string) }}" name="selected_region" type="checkbox">
								<label for="{{ 'region_' + (region.id|string) }}">{{ region.name }}</label>
							</li>
						{% endfor %}
						</ul>
						<br>
						<button type="button" class="btn btn-default" onclick="get_shops_from_regions()">Go</button>
					</form>
				</section>
			</div>
			<div class="6u skel-cell-important">
				<section id="content">
					<header>
						<h2>店家</h2>
					</header>
					<form class="ac-custom ac-boxfill" autocomplete="off">
						<!-- list shops in selected regions -->
						<ul id="shop_list">
						
						</ul>
					</form>
				</section>
			</div>
			<div class="3u">
				<section id="sidebard2">
					<header>
						<h2>結果</h2>
					</header>
				</section>
			</div>
		</div>

	</div>
</div>
{% endblock page_content %}

{% block end_source %}
	<script src="{{ url_for('static', filename='js/AnimatedCheckboxes/svgcheckbx.js') }}"></script>
	<script>
		function get_shops_from_regions(){
			console.log(regions);
			console.log(shops);
		}
	</script>
{% endblock end_source %}