<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>
            Get/Post Test in Login
        </title>
    </head>
    <body>
        <form action="{{ url_for('login') }}" method="POST">
            <table>
                <tbody>
                    <tr>
                        <td>username </td>
                        <td><input type="text" placeholder="input your username" name="username"></td>
                    </tr>
                    <tr>
                        <td>password </td>
                        <td><input type="text" placeholder="inpurt your password" name="password"></td>
                    </tr>
                    <tr>
                        <td><input type="submit" value="login"></td>
                    </tr>
                </tbody>
            </table>
        </form>
    </body>
</html>