{% extends 'base.html' %}

{% block title %} Region {% endblock %}

{% block shop_active %} class="active" {% endblock %}

{% block page_content %}
	<div id="page">
		<div class="container">
			<div class="row">
				<div class="3u">
					<section id="sidebar1">
						<p>Shop</p>
					</section>
				</div>
				<div class="6u skel-cell-important">
					<section id="content">
						<p>Shop</p>
					</section>
				</div>
				<div class="3u">
					<section id="sidebard2">
						<p>Shop</p>
					</section>
				</div>
			</div>

		</div>
	</div>
{% endblock %}