<!DOCTYPE HTML>
<!--
	Synchronous by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

<head>
	<title>{% block title %}{% endblock title %}</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />

	<!-- Bootstrap -->
	<script src="{{ url_for('static', filename='js/bootstrap/jquery.min.js') }}"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap/bootstrap.min.css') }}" type='text/css'>
	<script src="{{ url_for('static', filename='js/bootstrap/bootstrap.min.js') }}"></script>
	<!-- Bootstrap -->

	<!-- Synchronous -->
	<link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="{{ url_for('static', filename='js/synchronous/skel.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/synchronous/skel-panels.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/synchronous/init.js') }}"></script>
	<noscript>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/synchronous/skel-noscript.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/synchronous/style.css') }}" />
	</noscript>
	<!-- Synchronous -->

	<!-- Other Source -->
	{% block other_source %}{% endblock other_source %}
	<!-- Other Source -->
</head>

<body>
	<div id="wrapper">

		<!-- Header -->
		<div id="header">
			<div class="container">

				<!-- Logo -->
				<div id="logo">
					<h1><a href="#">Restaurant Shuffle</a></h1>
					<span>所以，我將繼續前行。</span>
				</div>

				<!-- Nav -->
				<nav id="nav">
					<ul>
						<li {% block home_active %}{% endblock home_active %}><a href="{{ url_for('index') }}">Home</a></li>
						<li {% block region_active %}{% endblock region_active %}><a href="{{ url_for('get_regions') }}">Region</a>
						</li>
						<li {% block shop_active %}{% endblock shop_active %}><a href="{{ url_for('get_shops') }}">Shop</a></li>
					</ul>
				</nav>
			</div>
		</div>
		<!-- /Header -->

		{% block page_content %}{% endblock page_content %}

		<!-- Footer -->
		<div id="footer">
			<div class="container">
				<div class="row">
					<div class="12u">
						<section id="box2">
							<header>
								<h2>起源</h2>
							</header>
							<p>這是一個為了解決有選擇障礙的女友不知道午/晚餐該吃什麼的時候所使用，基於Flask框架+Python建立而成的RESTful Web Application</p>
						</section>
					</div>
				</div>
			</div>
		</div>

		<!-- Copyright -->
		<div id="copyright">
			<div class="container">
				Design: <a href="http://templated.co">TEMPLATED</a> Images: <a href="http://unsplash.com">Unsplash</a>
				(<a href="http://unsplash.com/cc0">CC0</a>)
			</div>
		</div>

	</div>

	{% block end_source %}{% endblock end_source %}
</body>

</html>