{% extends 'base.html' %}
{% block title %} The Shuffle - Home {% endblock title %}

{% block page_content %}
<!-- Three -->
<section id="three" class="wrapper align-center">
    <div class="inner">
        <div class="flex flex-column">
            <h2>News</h2>
            <hr />
            <!-- Data description -->
            <div class="row align-items-center">
                <div class="col-2 offset-3" style="text-align: right;">
                    <a href="#" class="button far fa-download">Import</a>
                </div>
                <div class="col-4" style="text-align: left;">
                    <h4>.csv&nbsp;file&nbsp;&nbsp;&nbsp;&nbsp;or&nbsp;&nbsp;&nbsp;&nbsp;Paste&nbsp;data</h4>
                </div>
            </div>
            <br>
            <!-- Shuffle Source -->
            <div class="col-6 offset-3">
                <textarea name="shuffle_source" placeholder="One row for one element" rows="5"></textarea>
            </div>
            <br>
            <!-- Shuffle Button & Shuffle Number -->
            <div class="row align-items-center">
                <div class="col-2 offset-3" style="text-align: right;">
                    <input class="far" type="submit" value="Shuffle" />
                </div>
                <div class="col-1">
                    <h4>out</h4>
                </div>
                <div class="col-1">
                    <input type="text" name="result_number" value="1" placeholder="1" />
                </div>
                <div class="col-1" style="padding: 0 0 0 2.2em;">
                    <h4>result(s)</h4>
                </div>
            </div>
            <br>
            <!-- Shuffle Result -->
            <div class="col-6 offset-3">
                <textarea name="shuffle_result" placeholder="Result(s)..." rows="5"></textarea>
            </div>
        </div>
    </div>
</section>
{% endblock page_content %}