{% extends 'base.html' %}
{% block title %} The Shuffle - Home {% endblock title %}

{% block page_content %}
<!-- Three -->
<section id="three" class="wrapper align-center">
    <div class="inner">
        <div class="flex flex-2">
            <article>
                <header>
                    <h3>Sign Up</h3>
                </header>
                <br>
                <div class="row align-items-center">
                    <div class="col-2 offset-3">Email</div>
                    <div class="col-5">
                        <input type="text" name="signup_email" style="text-align: left;" />
                    </div>
                </div>
                <br>
                <div class="row align-items-center">
                    <div class="col-2 offset-3">Username</div>
                    <div class="col-5">
                        <input type="text" name="signup_username" style="text-align: left;" />
                    </div>
                </div>
                <br>
                <div class="row align-items-center">
                    <div class="col-2 offset-3">Password</div>
                    <div class="col-5">
                        <input type="text" name="signup_password" style="text-align: left;" />
                    </div>
                </div>
                <br>
                <footer>
                    <input class="far" type="submit" value="Sign Up" />
                </footer>
            </article>
            <article>
                <header>
                    <h3>Sign In</h3>
                </header>
                <br>
                <div class="row align-items-center">
                    <div class="col-2 offset-3">Username</div>
                    <div class="col-5">
                        <input type="text" name="signup_username" style="text-align: left;" />
                    </div>
                </div>
                <br>
                <div class="row align-items-center">
                    <div class="col-2 offset-3">Password</div>
                    <div class="col-5">
                        <input type="text" name="signup_password" style="text-align: left;" />
                    </div>
                </div>
                <br>
                <footer>
                    <input class="far" type="submit" value="Sign In" />
                </footer>
            </article>
        </div>
    </div>
</section>
{% endblock page_content %}